
body {
background-image: url("scribble.JPG");
background-color: #fcfcfc;
background-size: cover;
color: rgb(138, 62, 62);

}

h1{
    font-family:"Chalkduster", "fantasy"; 
    text-align: center;
     /* -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: rgb(68, 0, 0);*/
}

.column {
    float: left;
    width: 33.33%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

img{
    margin:auto;
    display: block;
    width: 316px;
    height: 316px;
      box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.5);
}

ul{
    text-align: center;
    list-style-type: none;
  margin: 0;
  padding: 0;
  text-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
}
  
#description{
    font-size: 30px;
    p{
      font-size: 20px;
      text-align: center;
    }
}




.back{
 /* background-color: #fcfcfc76;*/
}
