
body {
background-color: rgb(158, 129, 163);
}

h1{
    font-family:"Chalkduster", "fantasy"; 
    text-align: center;
}

.column {
    float: left;
    width: 33.33%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

img{
    margin:auto;
    display: block;
    width: 316px;
    height: 316px;
}

ul{
    text-align: center;
    list-style-type: none;
  margin: 0;
  padding: 0;
}
  
#description{
    font-size: 30px;
}

